* {

font-family: 'Josefin Sans', sans-serif;
margin: 0;
padding: 0;
box-sizing: border-box;

}


body { 
max-width: 100%;
 overflow-x: hidden; 
min-height: 100vh;
}

#enrollButton {
	color: #fff;
}

.navbar-brand, #myPortal, h1, h2, h4 {
	font-family: 'Lobster'; 
}
.navbar-brand {
	font-size: 30px; 
}

h5 {
	font-family: 'Ubuntu Mono';
}
nav, footer {
	background-color: #3c1642ff;
	
}
nav {
	border-bottom-width: 5px;
	border-bottom-style: solid;
	border-bottom-color: #70e000ff;
}

footer {
	border-top-width: 5px;
	border-top-style: solid;
	border-top-color: #70e000ff;

}

#active, .active{
	
	color: #ff9f1cff;
	
}

#submit {
background-color: #70e000ff;
}

.bg-green {
background-color: #ff9f1cff;
}

#notyet {
	color: #ff9f1cff ;
}

.bg-neong {
	background-color: #70e000ff;
}

.bg-edit {
	background-color: #3c1642ff;
}

.labels {
	color:#3c1642ff;
	background-color: #ff9f1cff;
}

#classhistory {
	background-color: #3c1642ff;
	color: #ff9f1cff;
}
